body {
  background-color: #f2d9d9;
}

h1 {
  text-shadow: 5px 5px 5px #5c2323;
  color: #250e0e;
  margin-left: 30px;
}

h2 {
  color: #ebc6c6;
  margin-left: 20px;
}

h2 { 
  font-style: normal; 
}

table{
    background-color:#cc99ff;
}

th{

    background-color:#ffcc99;
}

tr:nth-child(even){background-color:#00cccc;}
tr:hover{background-color:#ffcc99;}

.obraz {
    height: 250px;
    width: 400px;
    top: 20%;
    left: 40%;
    position: absolute;
}
