body {
  background-image: url("../obrazki/wall2.jpg");
  background-repeat: repeat;
  background-size: cover ;
  background-attachment: fixed;

  }
  .naglowek{
    /*glowny w stylu menu*/
    background-color: #252526b0;
    width: 100%;
    height: 25px;
    align-items: center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 2px;
    display: flex;
    justify-content: center;
    color: #D9D9D9; 
    margin-top:16px;
  }
  .naglowekmenu{
    /*glowny w stylu menu*/
    background-color: #5a5a5cc4;
    width: 90%;
    height: 25px;
    align-items: center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 2px;
    display: flex;
    justify-content: center;
    color: #D9D9D9; 
    margin-top:50px;
    font-weight: bold;
  
  }
  
  
  .container0 {
    
    display: flex;
    flex-wrap: wrap;
  }
  
    .obrazek {
    height: 20px;
    width: 20px;
    margin-left: 13px;
    margin: 5px;
    align-items: center;
    justify-content: center;
  }


  .item {
   /*
    width: 400px;
    height: 100px;
    */
    margin: 10px;  
  }
  
  
  .banner {
    background-color:  #3b3b3ba3;
    width: 100%;
    height: 7%;
    font-style: italic;
    display: flex;
    justify-content: center;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 2px 2px white;
    
  }
  .menu {
    background-color: none;
    width: 21%;
    height: 100%;
    border-radius: 7px 7px 7px 7px;
    
  }
  .tresczad {
    background-color: none;
    width: 50%;
    border-radius: 7px 7px 7px 7px;
    
  }
  .bannertxt {
    color: #D9D9D9;
    font-style: italic;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .tresc{
    color: #D9D9D9;
    font-style: italic;
    padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  }
  
  
  .link {
    width: 90%;
    height: 25%;
    border-radius: 7px 7px 7px 7px;
    background-color: #252526b0;
    box-shadow: 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9; 
    margin-top:16px;
    text-decoration: none;
    font-weight: bold;
  
  }
  .linkwdw {
    width: 90%;
    height: 25%;
    border-radius: 7px 7px 7px 7px;
    background-color: #5a5a5cc4;
    box-shadow: 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D9D9D9; 
    margin-top:16px;
    text-decoration: none;
    font-weight: bold;
  
  }

  .link:hover{
    background-color: #D9D9D9;
    color: #252526;
  
  }
  .linkwdw:hover{
    background-color: #D9D9D9;
    color: #252526;
    transition:1s;
  
  }

  
  .zdjecie{
  background-image: url("../obrazki/zdj2.jpg");
  width: 300px;
  height: 250px;
  background-size: 100%;
  margin: 10px;
  }

  .header {
    margin-left: 16%;
    width: 86%;
    font-size:40px; 
    margin-bottom:18px; 
    margin-top:20px; 
    text-align: center;
  }
  .nav {
    width: 20%;
  }

  
  /* tabelki */
  table,
  th,
  td {
    border: 1px solid #252526;
  }
  th,
  td {
    border-bottom: 0,5px solid #252526;
    border-top: 0,5px solid #252526;
    border-left: 0,5px solid #252526;
    border-right: 0,5px solid #252526;
  }
  th {
    background-color: #252526;
    color: #D9D9D9;
    text-shadow: 0px 1px 1px rgba(59, 59, 59, 0.616);
  }
  hr {
    border: 1px solid #b94681;
  }
  
  tr:nth-child(even) {
    background-color: #252526;
    color: #D9D9D9;
  }
  tr:hover {
    background-color: #D9D9D9;
    color: #252526;
  }
  
  /* flexboxy */
  .container{
    background-color: #6a2247;
        width: 25%;
        height: 100px;
        margin: 10px;
    }
    .container2 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      justify-content: flex-end;
    }
    
    .container3 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      align-items: flex-end;
    }
    
    .container4 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    
    .container5 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      justify-content: center;
    }
    
    .container6 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .container7 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    
    .container8 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
    }
    
    .container9 {
      background-color: #6a2247;
      width: 25%;
      height: 100px ;   
      margin: 10px;
      display: flex;
      justify-content: center;
    }
    
    .container10 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;    
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .container11 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    
    .container12 {
      background-color: #6a2247;
      width: 25%;
      height: 100px;
      margin: 10px;
      display: flex;
    }
    
    .kwadrat {
      background-color: #dfadbd;
      width: 40px;
      height: 40px;
      margin: 5px;
    }
    
    .prostokat {
      background-color: #dfadbd;
      width: 90px;
      height: 50px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
